.footer {
  color: #0541c9;
  width: 100%;
  text-align: center;
  position: relative;
  margin-top: 40px;
}


.footerContainer {
    display: flex;
    justify-content: center;
    gap: 1%;
}

.iconCircle {
  background-color: #0541c9;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
}

.iconCircle:hover{
    filter: saturate(150%);

}

.links {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 20px 0;
  gap: 0.5%;
}

.links a{
    color: #0541c9;
     transition: 0.2s ease-in-out;
}

.links a:hover{
    filter: saturate(150%)
}
