.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card {
  width: 75%;
  margin: 10px;
}


.pagination {
    margin-bottom: 0.5%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.select{
    margin-top: 1%;
    margin-bottom: 0.5%;
    width: 20%;
}

.link {
  text-decoration: none;
  color: #0541c9;
}

.link:hover {
  text-decoration: none !important;
  color: #0541c9;
}

.finalizado{
  display: flex;
}