.navContainer {
  display: flex;
  justify-content: space-between;
  width: 75%;
  padding: 0.5% 0 0.5% 0;
  margin: 0 auto;

}

.logoImage {
  max-width: 10%;
  min-width: 120px;
  min-height: 62px;
  transition: 0.2s ease-in-out;
}

.logoImage:hover{
  cursor: pointer;
}

a{
    text-decoration: none;
}

.buttonsContainer{
    display: flex;
    gap: 10px;
}

.buttonsContainer Button{
    color: #0541c9; 
    text-transform: capitalize;
    transition: 0.2s ease-in-out;
}

.buttonsContainer Button:hover{
  filter: saturate(150%)
}

.iconCircle {
  background-color: #d7ed31;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.2s ease-in-out;
}

.iconCircle:hover{
  filter: saturate(150%);
  cursor: pointer;
}
