.cardLeft{
    width: 85%;  
    padding-right: 2%;
    cursor: pointer;
}

.cardRight{
    display: flex;
    flex-direction: column;
    margin-left: 2%;
    justify-content: flex-start;
    border-left: 1px solid black;
    padding-left: 2%;
    align-items: center;
}