.professionalContainer {
    display: flex;
    width: 75%;
    padding: 1.2% 0 1.2% 0;
    margin: 2% auto !important;
    flex-direction: column;
}

.professionalCard {
    width: 100%;
    margin: 0 auto 4%;
    padding: 2% 2% 2% 2%;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    min-height: 60vh;
}

.cardContainer {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    gap: 1vw;
    justify-content: space-evenly;
    align-items: baseline;
}

.cardLeft {
    display: flex;
    flex-direction: column;
}

.cardRight {
    display: flex;
    flex-direction: column;
}

.cardBottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 1vh;
  margin: 5% auto 0 0;
  border-top: 1px solid rgba(0, 0, 0, 0.274);
}

.professionalPhoto{
    border-radius: 50%;
    width: 13vw;
    height: auto;
}

